[submodule "CArDCat"]
	path = CArDCat
	url = https://github.com/AmausaHouse/CArDCat
[submodule "CArDRabbit"]
	path = CArDRabbit
	url = https://github.com/AmausaHouse/CArDRabbit
[submodule "CArdDog"]
	path = CArdDog
	url = https://github.com/AmausaHouse/CArDDog
